@{
    ViewData["Title"] = "Login";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruth´s Flores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
<body>
  <script>
    let nome = prompt('Qual é o seu nome','Digite seu nome aqui',);
    let ConfimNome = prompt('Confirme seu nome','Digite seu nome aqui');
    alert(`Olá "${nome}" Seja Bem vindo a nossa Floricultura`);

    window.onload = () => {
       bt.onclick = () => {
         let botao = document.getElementById("bt");
         botao.style.textAlign = 'center';
         botao.border = 'thin solid black';    
       }
    }

  email.onfocus = () => {
    exampleInputEmail1.innerHTML = 'Informe seu nome';
  }

  Senha.onfocus = () => {
    exampleInputPassword1.innerHTML = 'Informe seu nome';
  }
  </script>
    <style>
        *{
            background-color: green;
        }
        .login{
            padding: 100px;
            text-align: center;
        }
        .navbar-brand{
            padding: 10px;
            position:relative;
        }
    </style>

    <nav class="navbar" style="background-color: green;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="padding: 10px;">Ruth´s Flores</a>
          <p><button id="bt">Login</button></p>
        </div>
    </nav>
    <section>
        
        <form class="login" asp-controller="Login"method="post">
            <h1 style="text-align: center;padding: 50px;">Login</h1>
            <div class="mb-3" style="padding: 10px;">
              <label for="email" class="form-label">Email Cadastrado</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off">
            </div>
    
            <div class="mb-3">
              <label for="Senha" class="form-label">Senha Cadastrada</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
    
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
    
            &emsp;<button type="submit" class="btn btn-primary">Login</button>
      </form>    
    </section>
</body>
</html>